# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yml,*.yaml}]
indent_size = 2
;indent_style = space

# Markdown uses trailing whitespace to indicate a line break.  If you use that
# then uncomment the following
;[{*.md,*.markdown}]
;trim_trailing_whitespace = false

# Handled by defaults but this is a reminder if you change it
;[*.py]
;indent_size = 4
;indent_style = space
